@import url(//db.onlinewebfonts.com/c/05428692254b58ccb090358a3dfecfff?family=Sofia+Pro);
@font-face {font-family: "Sofia Pro"; src: url("//db.onlinewebfonts.com/t/05428692254b58ccb090358a3dfecfff.eot"); src: url("//db.onlinewebfonts.com/t/05428692254b58ccb090358a3dfecfff.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/05428692254b58ccb090358a3dfecfff.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/05428692254b58ccb090358a3dfecfff.woff") format("woff"), url("//db.onlinewebfonts.com/t/05428692254b58ccb090358a3dfecfff.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/05428692254b58ccb090358a3dfecfff.svg#Sofia Pro") format("svg"); }

body{
padding:0;
margin:0;
font-family: 'Sofia Pro';
background-color: #e9ebee;
}

/* Header */
header{
height:4rem;
border-bottom: 1px solid gray;
background-color: white;
}

.container{
display:flex;
justify-content: space-between;
height:100%;
}

.logo{
display:flex;
justify-content: center;
padding-left:1%;
}

.logo p{
display:flex;
align-items: center;
margin-left:5%;
color:#587a25;
font-size: x-large;
}

.svg-container{
display:flex;
justify-content: space-between;
align-items: center;
}

svg{
height:60%;
padding:1rem;
}

/* Header */

.options-container{
    height:7em;
    background-color: white;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    padding-top:2em;
  
}

.options-item{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 0 1 160px;
    border: 1px solid black;
    width:10%;
    border-radius:5%;
    margin:0.5em;
    cursor: pointer;
}

.options-item img{
    height:30px;
    width:30x;
}

.options-item:hover{
background-color: #587a25;
color:white;
}



